fastapi==0.111.1
pydantic==2.8.2
pydantic-settings==2.3.4
PyJWT==2.8.0
cryptography==42.0.8
beanie==1.26.0
orjson==3.10.6
black==24.4.2
mypy==1.11.0
sentry-sdk==2.10.0
asgi-correlation-id==4.3.1
uvicorn==0.29.0
gunicorn==22.0.0
pytest==8.3.2
